{% extends 'base.html.twig' %}



{% block body %}
    <html class="wide wow-animation" lang="en">
    <head>
        <title>About us</title>
        <meta name="format-detection" content="telephone=no">
        <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta charset="utf-8">
        <link rel="icon" href="images/favicon.ico" type="image/x-icon">
        <!-- Stylesheets-->
        <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Roboto:100,300,300i,400,500,600,700,900%7CRaleway:500">
        <link rel="stylesheet" href="css/bootstrap.css">
        <link rel="stylesheet" href="css/fonts.css">
        <link rel="stylesheet" href="css/style.css">
        <!--[if lt IE 10]>
        <div style="background: #212121; padding: 10px 0; box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3); clear: both; text-align:center; position: relative; z-index:1;"><a href="http://windows.microsoft.com/en-US/internet-explorer/"><img src="images/ie8-panel/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a></div>
        <script src="js/html5shiv.min.js"></script>
        <![endif]-->
    </head>
    <body>
        <div class="preloader">
        <div class="wrapper-triangle">
            <div class="pen">
            <div class="line-triangle">
                <div class="triangle"></div>
                <div class="triangle"></div>
                <div class="triangle"></div>
                <div class="triangle"></div>
                <div class="triangle"></div>
                <div class="triangle"></div>
                <div class="triangle"></div>
            </div>
            <div class="line-triangle">
                <div class="triangle"></div>
                <div class="triangle"></div>
                <div class="triangle"></div>
                <div class="triangle"></div>
                <div class="triangle"></div>
                <div class="triangle"></div>
                <div class="triangle"></div>
            </div>
            <div class="line-triangle">
                <div class="triangle"></div>
                <div class="triangle"></div>
                <div class="triangle"></div>
                <div class="triangle"></div>
                <div class="triangle"></div>
                <div class="triangle"></div>
                <div class="triangle"></div>
            </div>
            </div>
        </div>
        </div>
        <div class="page">
        
        <!-- Page Header-->
        
        <!-- parallax top-->
        <!-- Breadcrumbs -->
        <section class="bg-gray-7">
            <div class="breadcrumbs-custom box-transform-wrap context-dark">
            <div class="container">
                <h3 class="breadcrumbs-custom-title">Sobre nosotros</h3>
                <div class="breadcrumbs-custom-decor"></div>
            </div>
            <div class="box-transform" style="background-image: url(images/industria.jpeg);"></div>
            </div>
            <div class="container">
            <ul class="breadcrumbs-custom-path">
                <li><a href="index.html">Home</a></li>
                <li class="active">Sobre nosotros</li>
            </ul>
            </div>
        </section>
        <section class="section section-lg bg-default">
            <div class="container">
            <div class="tabs-custom row row-50 justify-content-center flex-lg-row-reverse text-center text-md-left" id="tabs-4">
                <div class="col-lg-4 col-xl-3">
                <h5 class="text-spacing-200 text-capitalize">10 años de experiencia</h5>
                <ul class="nav list-category list-category-down-md-inline-block">
                   
                </ul><a class="button button-xl button-primary button-winona" href="{{ url('blog')}}">Contact us</a>
                </div>
                <div class="col-lg-8 col-xl-9">
                <!-- Tab panes-->
                <div class="tab-content tab-content-1">
                    <div class="tab-pane fade show active" id="tabs-4-1">
                    <h4>Nuestra empresa</h4>
                    <p>Ecotomer cuenta con 18 años de experiencia en la elaboración de productos químicos biodegradables para limpieza industrial. Mantuvimos desde el primer momento el objetivo principal de proteger la ecología y preservar el medio ambiente.

                    Brindamos una amplia gama de productos químicos tales como desengrasantes, limpiadores, sanitizantes, jabón de mano y crema limpiamanos. Todos los anteriores cuentan una presentación concentrada de alta calidad para realizar una amplia dilución y, de esta forma, disminuir los costos de nuestros clientes.

                    Hacemos hincapié en nuestra misión de cuidar el medio ambiente, garantizando la biodegradabilidad de todos nuestros productos. De igual manera, los procesos de producción no generan desechos tóxicos ni contaminan la biósfera.

                    Tomamos como propios los objetivos de nuestros clientes para alcanzarlos en equipo. Brindamos la mejor calidad del mercado en cada producto y disminuimos el tiempo de limpieza gracias a nuestros desengrasantes de rápida acción. De esta forma, convertimos tu gasto en una inversión.</p>
                </div>
                </div>
            </div>
            </div>
        </section>



        

        
        <!-- Page Footer-->
      
    
    </body>

    </html>
{% endblock %}