{% extends 'base.html.twig' %}



{% block body %}

     <section class="section section-md bg-default">
        <div class="container"> 
          <div class="row row-md row-30">

              <div class="col-sm-3 col-lg-3">
                <p class="aside-contacts-title"> Categorias </p>
                    <ul>
                        {% for cat in category %}
                          <li>{{cat.nombre}}</li>
                        {% endfor %}  
                    </ul>
              </div>
              <div class="col-sm-9 col-lg-9">
                  <div class="row row-md row-30">
                  {% for post in posts %}
                    <div class="col-sm-6 col-lg-4">
                       <div class="oh-desktop">
                          <!-- Services Terri-->
                          
                              <article class="services-terri wow slideInUp ">
                                  <div class="card container " style="width: 18rem;">
                                      <img src="{{ asset ('images/sur.jpg')}}" class="card-img-top" alt="...">
                                          <div class="card-body ">
                                              <h5 class="card-title">{{post.titulo}}</h5>
                                              <p class="card-text">{{post.contenido}}</p>
                                              <a href="#" class="btn btn-primary stretched-link">Go somewhere</a>
                                          </div>
                                  </div>
                          
                              </article>
                       </div>
                  </div>
                  {% endfor %}            
              </div>
            </div>
          </div>
        </div>
      </section>
    

{% endblock %}
