<table>
    <tr>
        <td>Nombre:</td>
        <td>{{contact.nombre}}</td>
    </tr>
    <tr>
        <td>Email:</td>
        <td>{{contact.email}}</td>
    </tr>
        <td>Telefono:</td>
        <td>{{contact.telefono}}</td>
    <tr>
        <td>Mensaje:</td>
        <td>{{contact.mensaje}}</td>
    </tr>
</table>